[build]
builder = "nixpacks"
buildCommand = "npm run build"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
startCommand = "npm start"
